{% extends "base.html" %} {% block content %}
    {% load render_table from django_tables2 %}

    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-sm-3">
                <h3>Welcome back {{ user.first_name |title }}</h3>
                <br/>
                <a class="btn btn-primary" href="{% url 'portfolio:create' %}"
                >Add new Asset</a>
            </div>
            <div class="col-sm-9">
                <h1>Your portfolio</h1>
                <br/>
                <div class="container shadow-lg p-3 mb-5 bg-body rounded">
                    <table class="table table-striped">
                        <thead>
                        <td>Name</td>
                        <td>Amout</td>
                        <td>Real-time Price $</td>
                        <td>Value $</td>
                        </thead>
                        {% for item in asset %}
                            <tr>
                                <td><a href="{% url 'portfolio:detail' pk=item.id %}">{{ item.name }}</a></td>
                                <td>{{ item.asset }}</td>
                                <td>{{ item.current_price }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
            </div>
            <h1>Last Activities</h1>
            {% render_table table %}
        </div>
    </div>

{% endblock %}
