{% extends "base.html" %} {% block content %}
<div class="text-center">
  <h1>Market</h1>
  <div class="container shadow-lg p-3 mb-5 bg-body rounded">
    <table class="table table-striped container">
      <thead>
        <td>Rank</td>
        <td>Coin</td>
        <td>Symbol</td>
        <td>Price $</td>
        <td>Market Cap</td>
      </thead>

      {% for item in data %}

      <tr>
        <td>{{item.market_cap_rank}}</td>
        <td>{{item.name}}</td>
        <td>{{item.symbol}}</td>
        <td>{{item.current_price}}</td>
        <td>{{item.market_cap}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="text-center">
    <a class="btn btn-primary" href="{% url 'market:more' %}"
      >Show More Details</a
    >
  </div>

  {% endblock %}
</div>
