{% extends "base.html" %} {% load bootstrap4 %} {% block content %}

<div class="container">
  <div class="row text-center">
    <p>
      Welcome to the Crypto Portfolio website. <br /><br />
      in this website you can have your own Portfolio and it will automatically
      calculate your lost or profit status
    </p>
  </div>
  <div class="row text-center">
    <div class="col-sm-6">
      <h3>Contact us</h3>
    </div>
    <div class="col-sm-6">
      <form action="" method="POST">
        {% csrf_token %} {% bootstrap_form form %} {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endbuttons %} 
{% endblock %}
